* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family:Roboto, sans-serif;
    background: #e2d7aa;
    color: #000000 ;
    font-size: 16px;
    width: 1180px;
    margin: 0 auto;
  }
  nav{
    margin-top: 25px;
    margin-bottom: 25px;
}
  ul{
    display: flex;
    font-size: 30px;
    justify-content: center;
    list-style: none;
    gap: 20px;
  }
  ul li> a{
    text-decoration: none;
    color: #000000;
  }
  .home,
  ul li:last-child>a{
    font-weight: bold;
  }
  h1{
    text-align: center;
    margin-top: 10px;
    font-family: ‘Indie Flower’, cursive;
    font-size: 60px;
  }
  h3,h2{
    text-align: center;
  }
p{
    width: 350px;
    height: 400px;
    line-height: 1.5;
}
  h3>a{
    text-decoration: none;
    color: blue;

  }
  .img-container{
    width: 350px;
    height: 450px;
    margin-top: 65px;
  }
  .img-container>img{
    width: 1150px;
    height: 450px;
  }
  main{
    margin: 50px auto 50px auto;
    justify-content: center;
    display: flex;
    gap: 30px;
  }
  img{
    width: 350px;
    height: 200px;
    margin-bottom: 20px;
  }
  p::first-letter{
    font-family: EucrosiaUPC, serif;
  font-size: 40px;
  }
  span{
    background: url(images/bg2.jpg);
    color: #ffffff;
    padding: 10px;
    margin-top: 10px;
    font-weight: bold;
    text-transform: uppercase;
  }
  footer{
    margin: 0px;
    padding: 10px 0 10px 0;
    text-align: center;
  }
  article p:last-of-type span:first-of-type a::before { 
    content: url("images/comment.png");
    position: relative;
    right: 5px;
    top: 7px;
    padding: 10px;
    }
    p span>a{
        text-decoration: none;
        color: #ffffff;
    }
